<form class="new_user" id="new_user" action="/login" method="post">

  <div class="field">
    <label for="user_username">Username</label><br>
    <input type="text" name="user[username]" id="user_username" />
  </div>
  <div class="field">
    <label for="user_password">Password</label><br>
    <input type="text" name="user[password]" id="user_password" />
  </div>
  <div class="actions">
    <input type="submit" name="commit" value="Create User" />
  </div>
</form>

